<!DOCTYPE html>
<html>
    <head>
        <title>Fii Practic - To Do</title>
        <link rel="stylesheet" href="css/bootstrap.css"/>
    </head>
    <body ng-app="todo">
        <div class="container">
            <div ng-controller="todoController" class="row">
                <h1>{{title}}</h1>
                <p>
                    <label for="addItem">Add new item</label>
                    <input id="addItem" type="text" ng-model="addItem" class="form-control"/>
                </p>
                <button class="btn btn-primary" ng-click="addNewItem()">Add</button>
                
                <div>
                    <ul>
                        <li ng-repeat="item in items">{{item}}</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <script src="lib/angular.js" type="text/javascript"></script>
        <script src="app/app.js" type="text/javascript"></script>
    </body>
</html>