<h3>
    Categories
</h3>

<div class="col-sm-6 col-sm-offset-3">
    <input type="text" ng-model="newCategory" placeholder="description" class="form-control" />
    <br>
    <button class="btn btn-primary pull-left" ng-click="addNewCategory(newCategory)" ng-disabled="newCategory.length === 0">Add</button>
    <a href="#/tasks" class="btn btn-warning pull-right"> Back to Tasks</a>
</div>
<div class="col-sm-6 col-sm-offset-3">
    <br>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in categoriesList track by $index">
            <div>
                <span class="index">{{$index+1}}</span>
                <span>{{item}}</span>
            </div>
        </li>
    </ul>
</div>

